body {
	background-image: url("../images/bandPhoto.jpg");
	background-position: center;
	background-attachment: fixed;
}

.container-fluid {
	margin: 10px 40px;
}

.jumbotron {
	color: white;
	background-color: rgba(1, 80, 183, .8);
	margin-bottom: 10px;
}

.textTransform {
	position: relative;
	left: -100px;
	margin-bottom: -50px;
	-ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
}

.mainT {
	width: 100%;
}
	
#subT {
	font-family: 'Arvo', serif;
}

form {
	margin: 10px;
}

.panel {
	background-color: rgba(22, 22, 22, .5);
	border: none;
}

.panel-default > .panel-heading {
	background-color: rgba(1, 80, 183, .8);
	color: white;
}

label {
	color: rgba(71,171,21, 1);
	text-shadow: -1px 1px 0px rgba(255, 255, 255, 1);
}

.ui-widgetA {
	margin-top: -20px;
}

.customLabel {
	margin-top: 20px;	
}

.ui-widgetB {
	margin-top: -20px;
}

#originCity {
	border-radius: 4px;
	width: 100%;
}

#destCity {
	border-radius: 4px;
	width: 100%;
}

ul {
	border: 1px solid rgba(169, 169, 169, 1);
	width: 150px;
}

li {
	background-color: white;
	list-style: none;
	margin-left: -40px;
	padding-left: 10px;

}

button {
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

#go {
	height: 65px;
	width: 150px;
	margin-left: 15px;
	margin-bottom: 10px;
	background-color: rgba(71,171,21, 1);
	border-color: #ddd;
}

#go:hover {
	background-color: rgba(1, 80, 183, .8);
}

.eventful-badge {
	width: 150px;
	float: right;
	margin-right: 15px;
	background-color: white;
	border: 1px solid white;
	border-radius: 4px;
	text-align: center;
}

.eventfulText {
	padding: 0;
	margin:0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.page-header {
	background-color: rgba(1, 80, 183, .8);
	padding: 0px 15px;
	border-radius: 4px;
	border: none;
}

h2 {
	color: white;
	padding-top: 10px;
}

input {
	width: 100%;
	height: 34px;
	border-radius: 4px;
}

#gMap {
	width: 100%;
	height: 300px;
}

#goAgain {
	height: 34px;
	width: 100%;
	margin-top: 25px;
	background-color: rgba(71,171,21, 1);
	border-color: #ddd;
}

#goAgain:hover {
	background-color: rgba(1, 80, 183, .8);
}

.custom-panel {
	color: white;
	/*margin: 0 15px;
	padding-right: 0;
	padding-left: 0;*/
}

table {
	margin: 10px;
}

#startOver {
	height: 34px;
	width: 100%;
	background-color: rgba(71,171,21, 1);
	border-color: #ddd;
}

#startOver:hover {
	background-color: rgba(1, 80, 183, .8);
}
